
#topo {background-color: #888; height: 400px; width: 1000px; border-radius: 10px;}

#corpo {background-color: #888; height: 500px; width: 1000px; border-radius: 10px;}

#corpo2 {background-color: #888; height: 500px; width: 1000px; border-radius: 10px;}

#rodape {background-color: #888; height: 100px; width: 1000px; border-radius: 10px;}


